{
  "openapi": "3.0.1",
  "info": {
    "title": "Public API",
    "description": "OCR Gateway exposes a set of document analysis operations through the HTTP interface.\nBelow are presented operations that can be used to interact with the OCR Gateway platform.\n\n# Authentication\n\n\u003CSecurityDefinitions /\u003E\n\nOur API puts some restrictions on the data submitted to the endpoints.\nPassing data that doesn't match these requirements will lead to undefined\nbehaviour or sometimes to the HTTP \u003Ci\u003EBad Request\u003C/i\u003E responses.\u003Cbr\u003E\n\u003Cbr\u003E\u003Cb\u003EGeneral payload limitations\u003C/b\u003E\u003Cbr\u003E\n&nbsp;&nbsp;&nbsp;&nbsp; The maximum allowed document size is \u003Cb\u003E10 MiB.\u003C/b\u003E\u003Cbr\u003E\n&nbsp;&nbsp;&nbsp;&nbsp; Documents must not have any security restrictions such as password protection\u003Cbr\u003E\n\u003Cbr\u003E\u003Cb\u003EDocument limitations\u003C/b\u003E\u003Cbr\u003E\nSupported MIME types: \u003Cbr\u003E\n&nbsp;&nbsp;&nbsp;&nbsp;`application/pdf`\u003Cbr\u003E\n&nbsp;&nbsp;&nbsp;&nbsp;`image/jpeg`\u003Cbr\u003E\n&nbsp;&nbsp;&nbsp;&nbsp;`image/png`\u003Cbr\u003E\n&nbsp;&nbsp;&nbsp;&nbsp;`image/tiff`\u003Cbr\u003E\u003Cbr\u003E\n\u003Cbr\u003EWe recommend the \u003Cb\u003E640 x 480 pixels\u003C/b\u003E resolution for documents and images to achieve the most accurate results.\u003Cbr\u003E\n",
    "version": "v1",
    "x-logo": {
      "url": "https://storage.googleapis.com/ocrgateway-public-df8d3199c5e23279/logo.svg",
      "backgroundColor": "#FFFFFFFF",
      "href": "https://ocrf.ocrgateway.com"
    }
  },
  "servers": [
    {
      "url": "https://ocrf.ocrgateway.com/api",
      "description": "OCR Gateway API Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/document/{id}": {
      "put": {
        "tags": [
          "Operations"
        ],
        "summary": "Update document status",
        "description": "Update Document status",
        "operationId": "getProcessedDocumentDataById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "425": {
            "description": "Document is not ready",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Document with provided id not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Found document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessedDocumentDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/submitDocument": {
      "post": {
        "tags": [
          "Operations"
        ],
        "summary": "Upload file",
        "description": "Upload a file for extraction. The file wil be enqueued for processing.\nThe processed document will be available after text extraction and completing all workflow steps.\n\nReturns processed document id\n",
        "operationId": "uploadDocument",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "attribute",
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Document file",
                    "format": "binary",
                    "example": "example.pdf"
                  },
                  "attribute": {
                    "$ref": "#/components/schemas/DocumentAttributeDto"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "File processing started",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentId"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/processed": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get documents",
        "description": "Get page of documents (only full processed and rejected will be included).\n\nThis method accepts the `q` parameter, which is a search query combining NAME or DATA search terms.\n",
        "operationId": "getDocuments",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached. Acceptable values are 1 to 100, inclusive",
            "required": false,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "hubId",
            "in": "query",
            "description": "The hub id used for document processing",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Specifies the start date for filtering documents that have been transitioned to the Processed status",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Specifies the end date for filtering documents that have been transitioned to the Processed status",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column by which documents will be filtered",
            "required": false,
            "schema": {
              "type": "string",
              "default": "updatedOn"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sorting direction ('asc' or 'desc')",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "sourceType",
            "in": "query",
            "description": "The source from which the document was downloaded",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "API",
                "EMAIL",
                "UPLOAD",
                "GDRIVE",
                "MICROSOFT_ONEDRIVE",
                "FAX",
                "STUDIO_WORKFLOW",
                "SITE_READER"
              ]
            }
          },
          {
            "name": "searchBy",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NAME",
              "enum": [
                "NAME",
                "DATA"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Document status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DONE",
                "REJECTED"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "A query for filtering the results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Found documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageImpl"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/processed/{id}/data": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get document data by ID",
        "description": "Gets a document's data by ID.\nReturns a list of field objects and Information about document.",
        "operationId": "getProcessedDocumentDataById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "QUEUED",
                  "PROCESSED",
                  "DONE",
                  "UNASSIGNED",
                  "REJECTED",
                  "VERIFICATION",
                  "WORKFLOW_PENDING",
                  "FAILED",
                  "DELETED",
                  "TRASHED"
                ]
              }
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "425": {
            "description": "Document is not ready",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Document with provided id not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Found document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessedDocumentDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/{id}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Download document file",
        "description": "Download the document in `ORIGINAL`, `LOW_QUALITY`, or `PROCESSED`.\n\nProcessed files support pre-processing steps: deskew, dewarp, fixlayout.\n",
        "operationId": "downloadDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "File type",
            "required": false,
            "schema": {
              "type": "string",
              "default": "PROCESSED",
              "enum": [
                "ORIGINAL",
                "LOW_QUALITY",
                "PROCESSED",
                "ARTIFACT"
              ]
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Document downloaded",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Processed document with provided id not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateDocumentDto": {
        "type": "object",
        "properties": {
          "hubId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "PROCESSED",
              "DONE",
              "UNASSIGNED",
              "REJECTED",
              "VERIFICATION",
              "WORKFLOW_PENDING",
              "FAILED",
              "DELETED",
              "TRASHED"
            ]
          },
          "metaAttribute": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ApiError": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "103 CHECKPOINT",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "302 MOVED_TEMPORARILY",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "305 USE_PROXY",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 PAYLOAD_TOO_LARGE",
              "413 REQUEST_ENTITY_TOO_LARGE",
              "414 URI_TOO_LONG",
              "414 REQUEST_URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "419 INSUFFICIENT_SPACE_ON_RESOURCE",
              "420 METHOD_FAILURE",
              "421 DESTINATION_LOCKED",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string"
          },
          "subErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiSubError"
            }
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "error"
        }
      },
      "ApiSubError": {
        "type": "object"
      },
      "APISourceInfo": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SourceInfo"
          },
          {
            "type": "object",
            "properties": {
              "userId": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "userName": {
                "type": "string"
              }
            }
          }
        ]
      },
      "CustomOrderProperty": {
        "type": "object",
        "properties": {
          "parentIndex": {
            "type": "integer",
            "format": "int32"
          },
          "fieldIndex": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "EmailSourceInfo": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SourceInfo"
          },
          {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              }
            }
          }
        ]
      },
      "FaxSourceInfo": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SourceInfo"
          },
          {
            "type": "object",
            "properties": {
              "fromNumber": {
                "type": "string"
              }
            }
          }
        ]
      },
      "Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "field id",
            "example": "605c644cbf48241234f62121"
          },
          "name": {
            "type": "string",
            "description": "field name",
            "example": "Field Name"
          },
          "type": {
            "type": "string",
            "description": "field type",
            "example": "TEXT"
          },
          "value": {
            "type": "object",
            "description": "field value"
          },
          "metadata": {
            "$ref": "#/components/schemas/PublicApiMatchedFieldMetadataDto"
          }
        }
      },
      "GDriveSourceInfo": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SourceInfo"
          },
          {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              },
              "folder": {
                "type": "string"
              }
            }
          }
        ]
      },
      "MatchedFieldMetadataPlacementDto": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer",
            "format": "int32"
          },
          "y": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "OneDriveSourceInfo": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SourceInfo"
          },
          {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              },
              "folder": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ProcessedDocumentDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "fileName": {
            "type": "string"
          },
          "fileSize": {
            "type": "string"
          },
          "extractedFieldCount": {
            "type": "integer",
            "format": "int32"
          },
          "expectedFieldCount": {
            "type": "integer",
            "format": "int32"
          },
          "confidence": {
            "type": "number",
            "format": "float"
          },
          "accuracyVerified": {
            "type": "boolean"
          },
          "processedOn": {
            "type": "string",
            "format": "date-time"
          },
          "documentId": {
            "type": "string"
          },
          "hubId": {
            "type": "string"
          },
          "hubName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DONE",
              "REJECTED"
            ]
          },
          "sourceInfo": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/APISourceInfo"
              },
              {
                "$ref": "#/components/schemas/EmailSourceInfo"
              },
              {
                "$ref": "#/components/schemas/FaxSourceInfo"
              },
              {
                "$ref": "#/components/schemas/GDriveSourceInfo"
              },
              {
                "$ref": "#/components/schemas/OneDriveSourceInfo"
              },
              {
                "$ref": "#/components/schemas/SiteReaderSourceInfo"
              },
              {
                "$ref": "#/components/schemas/StudioSourceInfo"
              },
              {
                "$ref": "#/components/schemas/UploadSourceInfo"
              }
            ]
          },
          "author": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          },
          "metaAttributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "PublicApiMatchedFieldMetadataDto": {
        "type": "object",
        "properties": {
          "extracted": {
            "type": "boolean"
          },
          "confidence": {
            "type": "number",
            "format": "float"
          },
          "placement": {
            "$ref": "#/components/schemas/MatchedFieldMetadataPlacementDto"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "customOrderProperty": {
            "$ref": "#/components/schemas/CustomOrderProperty"
          }
        }
      },
      "SiteReaderSourceInfo": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SourceInfo"
          },
          {
            "type": "object",
            "properties": {
              "jobId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        ]
      },
      "SourceInfo": {
        "type": "object",
        "properties": {
          "sourceType": {
            "type": "string",
            "enum": [
              "API",
              "EMAIL",
              "UPLOAD",
              "GDRIVE",
              "MICROSOFT_ONEDRIVE",
              "FAX",
              "STUDIO_WORKFLOW",
              "SITE_READER"
            ]
          }
        },
        "discriminator": {
          "propertyName": "sourceType"
        }
      },
      "StudioSourceInfo": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SourceInfo"
          },
          {
            "type": "object",
            "properties": {
              "workflowId": {
                "type": "string"
              },
              "workflowName": {
                "type": "string"
              },
              "runId": {
                "type": "string"
              },
              "runStepId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "UploadSourceInfo": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SourceInfo"
          },
          {
            "type": "object",
            "properties": {
              "userId": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "userName": {
                "type": "string"
              }
            }
          }
        ]
      },
      "DocumentAttributeDto": {
        "type": "object",
        "properties": {
          "metaAttributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "description": "Meta Attributes. Set of properties to be included in the context of the document payload"
            },
            "description": "Meta Attributes. Set of properties to be included in the context of the document payload"
          }
        },
        "description": "Document attributes (only metaAttributes allowed)"
      },
      "DocumentId": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "PageImpl": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          },
          "last": {
            "type": "boolean"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortObject"
            }
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortObject"
            }
          },
          "paged": {
            "type": "boolean"
          },
          "unpaged": {
            "type": "boolean"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "direction": {
            "type": "string"
          },
          "nullHandling": {
            "type": "string"
          },
          "ascending": {
            "type": "boolean"
          },
          "property": {
            "type": "string"
          },
          "ignoreCase": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "API key authentication using Authorization header. Format: 'Authorization: api-key {key}'",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}